backend/google-credentials.json
.env

# Firebase
.firebase/

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


.firebase/hosting.ZnJvbnRlbmRcZGlzdA.cache
